/*
Written by Soren Harward <soren.harward@uspto.gov>, May 2015

This software was made by an employee of the United States Government as part
of his official duties. As such, it is not subject to copyright in the United
States. It is free and unencumbered software released into the public domain.

Anyone is free to copy, modify, publish, use, compile, sell, or distribute this
software, either in source code form or as a compiled binary, for any purpose,
commercial or non-commercial, and by any means.

In jurisdictions that recognize copyright laws, the author of this software
dedicates any and all copyright interest in the software to the public domain.
I make this dedication for the benefit of the public at large and to the
detriment of our heirs and successors. I intend this dedication to be an overt
act of relinquishment in perpetuity of all present and future rights to this
software under copyright law.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
AUTHOR, THE UNITED STATES PATENT AND TRADEMARK OFFICE, THE UNITED STATES
DEPARTMENT OF COMMERCE, OR ANY OTHER DEPARTMENT, BODY, AGENCY, DIVISION,
SECTION, OR GROUP OF THE UNITED STATES GOVERNMENT BE LIABLE FOR ANY CLAIM,
DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
OR OTHER DEALINGS IN THE SOFTWARE.
*/

body {
  font-size: 10pt;
}

table.selectable {
  border-collapse: collapse;
}

table.selectable thead {
  font-size: 120%;
  font-weight: bold;
  color: #006;
}

table.selectable td {
  padding: 3pt 5pt;
  vertical-align: top;
}

table.selectable tbody tr:nth-child(odd) {
  background: #eee;
}

table.printable {
  font-size: 11pt;
  border-collapse: collapse;
}

table.printable thead {
  font-size: 130%;
  font-weight: bold;
  white-space: nowrap;
}

table.printable td {
  page-break-inside: avoid;
  padding: 5pt 8pt;
  vertical-align: top;
}

table.printable tbody tr {
  border: thin solid black;
}

/*
table.printable tr:nth-child(even) {
  background: #eee;
}
*/

td.website {
  padding-left: 14pt;
  padding-right: 14pt;
}

dl {
  margin: 0px;
}

dt {
  font-weight: bold;
  color: #333;
}
